/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */

.container-header {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.container-footer {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.container-main {
    width: 70%;
    max-width: 850px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.bottone {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-color: transparent;
    background-color: rgb(37, 113, 255);
}

.bottone a {
    text-decoration: none;
    color: white;
    background-color: rgb(37, 113, 255);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li {
    text-decoration: none;
    list-style-type: none;
}

/* HEADER */

.box-header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.sfondo-header {
    background-color: rgb(194, 218, 253);
    height: 100%;
    margin-bottom: 180px;
    margin-top: 70px;
}

.bottone-inizia {
    text-align: center;
    line-height: 0px;
    height: 10px;
    padding: 15px;
    margin-top: 6px;
    margin-right: 10px;
}

.link-header {
    text-align: center;
    padding: 15px;
    list-style-type: none;
    color: black;
}

.header-left {
    margin: 0 20px;
}

.header-right {
    margin: 0 20px;
}

.logo {
    margin: 10px;
}

.hr-header {
    width: 90%;
    display: none;
}

.link-header1:hover .hr-header {
	display: block; 
}

.link-header2:hover .hr-header {
	display: block; 
}

.link-header3:hover .hr-header {
	display: block; 
}

.jumbotron-titolo {
    height: 100%;
    width: 100%;
    border-color: rgba(255, 0, 0, 0);
    border-style: solid;
}

h1 {
    margin: 50px 0;
    font-size: 4rem;
}

.testo-header {
    width: 35%;
    line-height: 2rem;
    font-size: 1.1rem;
    max-height: 50%;
}

.immagine-header {
    width: 100%;
}

.immagine-jumbo {
    height: 120%;
    width: 120%;
}

.bottone-provagratuita {
    margin: 50px 0;
}

.fa-arrow-down {
    margin-top: 50px;
    font-size: 40px;
}

/* MAIN */

/* PIANO BUSINESS */

.titolo-business {
    height: 100%;
}

h2 {
    font-size: 2rem;
}

.checkbox-fatturazione {
    margin-top: 50px ;
    margin-bottom: 50px;
}

.fatturazione {
    list-style-type: none;
    gap: 50px;
}

.fa-circle-dot{
    color: rgb(37, 113, 255);
}

.tipo-piano {
    height: 100%;
    width: calc(100% / 3);
    border: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    text-align: center;
    padding: 5px;
}

.centro-piani {
    margin: 0 40px;
}

.blocchi-piani {
    width: calc(100% / 3);
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    padding: 15px;
}

.blocchi-piani .h3 {
    margin: 20px 0;
}


.prezzo {
    margin: 10px 0;
}

.interessato {
    color: rgb(131, 131, 131);
    margin: 0 0 50px 0;
}

.lista-proprietà li {
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    padding-left: 1.5rem;
}

.icona {
    position: absolute;
    left: 0;
    top: 3px;
}

.bottone-prova30 {
    margin-top: 35px;
    margin-bottom: 30px;
    width: 100%
}

.oppure-acquista-ora {
    margin-bottom: 35px;
}

.acquista-ora {
    color: blue;
    text-decoration: underline;
}

hr {
    width: 30%;
}

h5 {
    margin: 45px 0 25px 0;
}

.fa-check {
    color: rgb(37, 113, 255);
}

.piano-enterprise {
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}

.contatto-enterprise {
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    padding: 20px;
}

.titolo-enterprise {
    justify-content: space-between;
}

.blocco-enterprice-left {
    width: 75%;
}

.bottone-uffico-vendite {
    height: 100%;
    width: 25%
}

.enterprise {
    padding-top: 6px;
}

.info-ufficio-vendite {
    padding-bottom: 40px;
    margin-top: 15px;
}

.descrizione-enterprise {
    line-height: 1.5rem;
}

/* CONTATTO PARTENR */

.box-partner {
    margin-top: 150px;
    margin-bottom: 150px;
}

.box-partner-left {
    width: 62%;
}

.box-partner-right {
    width: 38%;
    padding: 20px;
}

.immagine-partner {
    width: 100%;
    background-size: cover;
}

.titolo-partner {
    line-height: 2rem;
}

.testo-partner {
    line-height: 1.4rem;
}

.bottone-partner {
    width: 60%;
    margin-top: 20px;
    padding: 12px;
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}

/* OPERAZIONI CON BUSINESS */

.card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: calc(100% / 3);
    padding: 20px;
}

.box-card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.titolo-operazioni {
    margin-bottom: 50px;
}

.img-card {
    width: 100%;
    background-size: cover;
    margin-bottom: 10px;
}

.testo-card {
    padding-top: 25px;
}

/* SPONSOR TEAM */

.titolo-sponsor {
    margin-top: 180px;
}

.link-clienti {
    text-decoration: underline;
    color: blue;
    margin-bottom: 100px;
}

.blocco-sponsor {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.box-sponsor {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: calc(100% / 3);
    margin-top: 100px;
}

.box-sponsor2 {
    height: 100vh;
    width: calc(100% / 3);
    margin-top: 100px;
}

.box-sponsor-immagini {
    height: calc(100% / 2);
    width: calc(100% / 2); 
}

.color-white {
    filter: invert(100%);
    width: 100%;
    height: 100%;
}

.img-sponsor1 {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: rgba(162, 211, 155, 1);
    border-width: 10px;
    border-color: rgba(209, 233, 205, 1);
    border-style: solid; 
}

.img-sponsor2 {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: rgba(97, 8, 43, 1);
}

.img-sponsor3 {
    width: 100%;
    height: 100%;
    padding: 85px 50px;
    background-color: rgba(0, 147, 206, 1);
}

.img-sponsor4 {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: rgba(255, 28, 28, 1);
}

.img-sponsor5 {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: rgba(213, 0, 31, 1);
}

.img-sponsor6 {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: rgba(180, 208, 231, 1);
}

.img-sponsor7 {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: rgba(13, 36, 129, 1);
}

.img-sponsor8 {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: rgba(255, 216, 48, 1);
}

.testo-sponsor-designit{
    padding: 40px;
    background-color: rgba(245, 245, 245, 1);
}

.immagine-designit {
    width: 50%;
    margin-bottom: 40px
}

.testo-designit {
    margin: 30px 0;
}

.prova-azienda {
    height: 100%;
    background-color: rgba(180, 208, 231, 1);
    max-width: 1300px;
    margin: 0 auto;
}

.zona-bottone-sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    max-width: 1100px;
}

.titolo-sponsor-bottone {
    color: rgba(97, 8, 43, 1);
    
}

.bottone-prova-azienda {
    text-align: center;
    line-height: 0px;
    height: 10px;
    padding: 20px;
    margin-top: 6px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}

/* DOMANDE FREQUENTI */

.faq {
    height: 100%;
}

.titolo-faq {
    padding-top: 150px;
    margin-bottom: 60px;
}

.special-hr {
    width: 100%;
    margin: 50px 0;
}

.faq-testo {
    position: relative;
}

.fa-angle-down {
    padding-right: 40px;
}

.hover-faq {
    display: flex;
    justify-content: space-between;
}
.scritta-nascosta {
    display: none;
}

.faq-testo:hover .scritta-nascosta {
    display: block;
    margin-top: 30px;
}

/* FOOTER */

.sfondo-footer {
    background-color: black;
    height: 500px;
}

.colonne-footer {
    color: white;
    display: flex;
    justify-content: space-between;
}

.titolini {
    margin-top: 70px;
    margin-bottom: 30px;
}

.lista-footer li {
    margin: 20px 0;
}

.hr-footer {
    margin-top: 100px;
    width: 80%;
    border: 1px solid rgb(116, 116, 116);
}

.lingua-footer {
    margin-top: 40px;
    color: rgb(116, 116, 116);
    word-spacing: 5px;
}

.footer-link {
    color: white;
}

.footer-link-lingua {
    color: rgb(116, 116, 116);
}
